<main class="mt-[10px]">
  <!-- <Banner /> -->
  <div class="max-w-[1440px] mx-auto">
    <div class="my-[20px]">
      <h2 class="font-semibold text-2xl uppercase my-[30px] text-center">Tất cả Sản phẩm</h2>

      <div class="grid grid-cols-5 gap-8">
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
          <div key={index} class="border p-3">
            <a routerLink="/">
              <img src='https://picsum.photos/200/300' class="w-[250px] h-[250px]" />
            </a>
            <h3 class="my-3"><a routerLink="/" class="font-semibold text-[18px] ">adhihi</a></h3>
            <p class="text-[red] font-semibold text-[17px]">ahihii</p>
          </div>
      </div>
    </div>
  </div>
</main>
